
body {
    background-color: rgb(207, 238, 136);
    position: sticky;
}

.figma-web-page{
    background-color:rgb(207, 238, 136);
    width: 524px;
    height: 275px; 
    padding: 21px 46px 48px 19px;
}

/* Title */
.figma-title-text{
    position: absolute;
    width: 276px;
    height: 34px;
    left: 143px;
    top: 105px;
}

.figma-title-text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #FF51D9;
}

/* This is some text for description */ 
.figma-description{
    position: absolute;
    width: 144px;
    height: 59px;
    left: 855px;
    top: 425px;
}

.figma-description-text{
    font-family: Elsie;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #899DD2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.figma-description-text-color{
    color: #899DD2;
}

.figma-description-text-shadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.figma-text-area{
    position: absolute;
    width: 84px;
    height: 108px;
    left: 1183px;
    top: 651px;
}

.figma-text{
    font-family: Bilbo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F97070;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.figma-text-color{
    color: #F97070;
}

.figma-text-shadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

